.container {
  display: block;
  max-width: 600px;
  margin: 0 auto;
  padding: 0 8px;
  position: relative;
}

mat-card {
  margin-top: 16px;
}

.card-image {
  height: 170px;
}

.example-spacer {
  flex: 1 1 auto;
}

.fab {
  position: fixed;
  bottom: 32px;
  right: 20px;
}

.flag {
  width: 36px;
}
