/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.container {
  display: block;
  max-width: 600px;
  margin: 0 auto;
  padding: 0 8px;
  position: relative;
}

.full-width {
  width: 100%;
}
